*.code-workspace
.vscode
.idea

.terraform*
terraform.tfstate*
terraform.tfvars
kubeconfig.yaml
*.pem
*.key
id_rsa
id_rsa.pub
id_ecdsa
id_ed25519
*_rsa

vendor
bin
main.tf.example

**/main.tf.example
